html

	body{
		font-size:18px;
		background: linear-gradient(-180deg, rgb(0, 0, 77), rgb(102, 178, 255));
	}
	h1 {
		color:white; 
		font-family: Magneto, Helvetica, arial, sans-serif;
		font-weight: bolder;
		font-size:5em;
		background-color: transparent;
		border:10px solid black;
		padding:5px;
	}
	img.listimage {
		width:440px;
		height:440px;
		background-color: rgb(102, 178, 255);
		border:1px solid black;
		padding:5px;
	}
	ol li {
		display:inline;
		margin:0;
		padding:0;
	} 
	ol {
		margin:0;
		padding:0;
	}
