html
    
	body{
		font-size:18px;
		background: radial-gradient(rgb(26, 163, 255), rgb(0, 0, 51));
	}
	h1 {
		color: black; 
		text-shadow: 7px 0px 2px rgb(26, 163, 255);
		font-family: Magneto, Helvetica, arial, sans-serif;
		font-weight: bolder;
		font-size:5em;
		background-color: transparent;
		border:10px solid black;
		padding:5px;
	}
	img.listimage {
		width:440px;
		height:440px;
		background-color: rgb(26, 163, 255);
		border:8px solid black;
		padding:5px;
	}
	ol li {
		display:inline;
		margin:0;
		padding:0;
		
	} 
	ol {
		margin:0;
		padding:0;
	}
